/* Variables */

// Colors
$black: #000000;
$primary-blue: #4fd0f4;
$primary-white: #eeeeee;
$primary-white-hover: #eeeeeeda;

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 20px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  width: 70%;
  background: $primary-white;
  &:nth-child(2) {
    margin-left: 25%;
  }
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $primary-white-hover;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 30px !important;
  width: 30px !important;
  /* Color/shape of close button cross */
  .bm-cross {
    background: $primary-white;
    height: 22px !important;
  }
}

.cross:hover span {
  background: $primary-white-hover;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
  left: -15px;
}

/* General sidebar styles */
.bm-menu {
  background: #2e2e2e;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  box-shadow: 3px 5px 10px 2px $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  height: 50% !important;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: $primary-white;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  line-height: 60px;
  transition: 0.2s ease-in;
  &:hover {
    color: $primary-blue;
  }
}

.active {
  color: $primary-blue;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

.sidenav-icons-wrapper {
  display: flex !important;
  justify-content: space-evenly;
  width: 80%;
  margin: 100% auto;
}

.sidenav-icons {
  color: $primary-white;
  font-size: 2rem;
  &:hover {
    color: $primary-blue;
  }
}
