/* Variables */

// Colors
$black: #000000;
$primary-dark: #3e3e3e;
$primary-blue: #4fd0f4;
$primary-white: #eeeeee;
$primary-white-hover: #eeeeeeda;

// Fonts
$main-font: "Roboto", sans-serif;

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-dark;
  font-size: 16px;
  font-family: $main-font;
}

/************** 
Homepage Styles 
***************/
#blob-top {
  position: absolute;
  height: 50%;
  width: auto;
  top: 0;
  right: 0;
  filter: drop-shadow(0 3px 12px #000000);
}

#blob-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  filter: drop-shadow(0 3px 12px #000000);
  width: auto;
  height: 20%;
}

.home-header-text {
  font-size: 10rem;
  text-transform: uppercase;
  color: #eee;
  width: 65%;
  position: absolute;
  left: 11%;
  top: 0;
  margin: auto;
}

.home-sub-text {
  font-size: 3rem;
  width: 50%;
  position: absolute;
  color: #eee;
  right: 0;
  bottom: 5%;
  left: 52%;
}

.homepage-icons {
  color: $primary-white;
  font-size: 2rem;
}
