/* Variables */

// Colors
$black: #000000;
$primary-dark: #3e3e3e;
$primary-blue: #4fd0f4;
$primary-white: #eeeeee;
$primary-white-hover: #eeeeeeda;

// Fonts
$main-font: "Roboto", sans-serif;

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-dark;
  font-size: 16px;
  font-family: $main-font;
}

/************** 
Homepage Styles 
***************/
#blob-top {
  position: absolute;
  height: 50%;
  width: auto;
  top: 0;
  right: 0;
  filter: drop-shadow(0 3px 12px #000000);
}

#blob-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  filter: drop-shadow(0 3px 12px #000000);
  width: auto;
  height: 25%;
}

.background-text {
  font-size: 12rem;
  text-transform: uppercase;
  color: #eee;
  opacity: 0.1;
  width: 60%;
  position: absolute;
  left: 15%;
  bottom: 5%;
}

.foreground-text {
  font-size: 4.5rem;
  width: 73%;
  position: absolute;
  color: #eee;
}

.homepage-icons {
  color: $primary-white;
  font-size: 2rem;
}
